@font-face {
  font-family: 'MiSans';
  src:
    url('assets/fonts/MiSans-Regular.woff2') format('woff2'),
    url('assets/fonts/MiSans-Regular.woff') format('woff');
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background-color: #eee;
  font-family: 'MiSans', Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}

body * + *[class^='el-'] {
  margin-top: 0;
}

.card {
  display: flex;
  max-width: 60em;
  min-height: 15em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.3);
  overflow-x: auto;
}
