@font-face {
  font-family: 'MiSans';
  src:
    url('assets/fonts/MiSans-Regular.woff2') format('woff2'),
    url('assets/fonts/MiSans-Regular.woff') format('woff');
}

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  color: #ffffff;
  background-color: #eee;
  font-family: 'MiSans', Helvetica, Arial, sans-serif;
}

body * + * {
  margin-top: 1.5em;
}
